# Managed with Ansible

server.port: 5601
server.host: "{{ hostvars[inventory_hostname] ['ip'] }}"
opensearch.hosts: ["{{ opensearch_dashboards_nodes }}"]

opensearch.ssl.verificationMode: certificate
server.ssl.enabled: true
server.ssl.certificate: /etc/opensearch-dashboards/ssl/opensearch-dashboards.crt
server.ssl.key: /etc/opensearch-dashboards/ssl/opensearch-dashboards.key
opensearch.ssl.certificateAuthorities: ["/etc/opensearch-dashboards/ssl/ca.crt"]

server.ssl.supportedProtocols: ["Tlsv1.2", "Tlsv1.3"]
server.ssl.cipherSuites: ["HIGH"]

opensearch.security.cookie.secure: true
opensearch.requestHeadersAllowlist: [authorization, securitytenant]

opensearch.security.multitenancy.enabled: true
opensearch.security.multitenancy.tenants.preffered: ["Private", "Global"]
opensearch.security.readonly_mode.roles: ["kibana_read_only"]

logging.dest: /var/log/dashboard.log
logging.silent: false
logging.quiet: false
logging.events.log: ["warning", "error", "fatal", "info"]
