# MANAGED BY ANSIBLE

bind 127.0.0.1 {{ ansible_default_ipv4.address }}
port {{ redis_server_service_port }}
daemonize no
protected-mode {{ 'yes' if redis_server_protected_mode | bool else 'no' }}
dir {{ redis_server_data_dir }}
{% if redis_server_password is defined and redis_server_password %}
requirepass {{ redis_server_password }}
{% endif %}
logfile {{ redis_server_log_dir }}/redis.log
appendonly yes

{% if redis_server_instance_type == 'cluster' %}
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000
{% endif %}
