# MANAGED BY ANSIBLE

bind 127.0.0.1 {{ ansible_default_ipv4.address }}
port {{ defaults_redis_server_sentinel_port }}
protected-mode {{ 'yes' if redis_server_protected_mode | bool else 'no' }}
dir {{ defaults_redis_server_data_dir }}
logfile {{ defaults_redis_server_log_dir }}/sentinel.log

sentinel monitor {{ hostvars[groups['redis_master'][0]].inventory_hostname }} {{ hostvars[groups['redis_master'][0]].ansible_host }} {{ defaults_redis_server_service_port }} 2
sentinel down-after-milliseconds {{ hostvars[groups['redis_master'][0]].inventory_hostname }} 5000
sentinel failover-timeout {{ hostvars[groups['redis_master'][0]].inventory_hostname }} 10000
sentinel parallel-syncs {{ hostvars[groups['redis_master'][0]].inventory_hostname }} 1
{% if redis_server_password is defined and redis_server_password %}
sentinel auth-pass {{ hostvars[groups['redis_master'][0]].inventory_hostname }} {{ redis_server_password }}
{% endif %}
