# MANAGED BY ANSIBLE

[Unit]
Description=Redis Sentinel
After=network.target

[Service]
User={{ redis_server_service_user }}
Group={{ redis_server_service_group }}
ExecStart={{ defaults_redis_server_bin_dir }}/redis-server {{ defaults_redis_server_instance_dir }}/sentinel.conf --sentinel
ExecStop={{ defaults_redis_server_bin_dir }}/redis-cli -p {{ defaults_redis_server_sentinel_port }} shutdown
Restart=always

[Install]
WantedBy=multi-user.target