---
- name: Playbook for Opensearch tarball deploy
  hosts: "{{ host_group | default(omit) }}"
  gather_facts: true
  become: false

  tasks:
    - name: Check variable definition
      ansible.builtin.assert:
        that: "{{ item }} is defined"
        fail_msg: "Have to specify {{ item }} variable"
      loop:
        - host_group

    - name: Opensearch | Including Opensearch tarball setup role
      ansible.builtin.include_role:
        name: opensearch
