---
# Some repositories
minikube_docker_repo: "https://download.docker.com/linux/centos/docker-ce.repo"
minikube_kubectl_repo: "https://dl.k8s.io/release/v1.31.0/bin/linux/amd64/kubectl"
minikube_repo: "https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64"

# Service destination & systemd paths
minikube_kubectl_path: "/usr/bin/kubectl"
minikube_path: "/usr/bin/minikube"
minikube_systemd_config_path: "/etc/systemd/system"

# Minikube parameters you can change depending on your host configuration

# TODO: this one allows you to choose between "none" & "docker" at the moment
minikube_vm_driver: "docker"

minikube_stable_parameters: >
  "--force \
  --driver={{ minikube_vm_driver }} \
  --memory=1900mb \
  --ports=8443:8443 \
  --ports=80:80 \
  --ports=443:443 \
  --network=bridge \
  --apiserver-ips={{ ansible_default_ipv4.address }}"

minikube_start_parameters: "--force --wait=all"
