---
- name: Be sure working directories exist 
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ opensearch_service_user }}"
    group: "{{ opensearch_service_group }}"
    mode: '0755'
  loop: "{{ opensearch_server_directories }}"

- name: Check if OpenSearch is already installed
  ansible.builtin.set_fact:
    opensearch_server_is_installed: "{{ 'opensearch.service' in ansible_facts.services }}"

- name: Check current Redis version
  ansible.builtin.command: "{{ opensearch_server_bin_dir }}/opensearch --version"
  changed_when: false
  failed_when: false
  check_mode: false
  register: opensearch_server_current_version_raw
  when: opensearch_server_is_installed