---
- name: Gather service facts
  ansible.builtin.service_facts:

- name: Check if service is already installed
  ansible.builtin.set_fact:
    opensearch_service_is_installed: "{{ 'opensearch.service' in ansible_facts.services }}"

- name: Check current service version
  ansible.builtin.uri: 
    url: "https://{{ ansible_default_ipv4.address }}:{{ opensearch_service_port }}"
    validate_certs: false
  changed_when: false
  failed_when: false
  check_mode: false
  register: opensearch_server_current_version_raw
  when: opensearch_service_is_installed

- name: Extract current service version
  ansible.builtin.set_fact:
    opensearch_service_current_version: "{{ opensearch_service_current_version_raw.json.version.number }}"
  when: opensearch_service_is_installed
