---
- name: OpenSearch | Service installation
  block:
    - name: Set facts about current environment
      ansible.builtin.include_tasks:
        file: facts.yaml
      tags: ['opensearch', 'facts']

    - name: Setup firewalld
      ansible.builtin.include_tasks:
        file: firewalld.yaml
      tags: ['linux', 'firewalld', 'always']

    - name: Install requirements
      ansible.builtin.include_tasks:
        file: requirements.yaml
      tags: ['linux', 'always', 'requirements']

    - name: Create service user
      ansible.builtin.include_tasks:
        file: users.yaml
      tags: ['linux', 'user']

    - name: Distribute SSL certificats
      ansible.builtin.include_tasks:
        file: certificates.yaml
      tags: ['opensearch', 'certificates']

    - name: Service installation
      ansible.builtin.include_tasks:
        file: opensearch.yaml
      tags: ['linux', 'always', 'installation']

    - name: Check service availability
      ansible.builtin.include_tasks:
        file: healthcheck.yaml
      tags: ['linux', 'opensearch', 'healthcheck']

  always:
    - name: Remove temporary files
      become: true
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ opensearch_server_tmp_dir }}"
