---
- name: Reload firewalld
  become: true
  ansible.builtin.systemd_service:
    name: firewalld.service
    state: reloaded
  listen: reload_firewalld
  when:
    - ansible_facts.services["firewalld.service"] is defined
    - ansible_facts.services["firewalld.service"].state == ""running"

- name: Restart Opensearch service
  become: true
  ansible.builtin.systemd_service:
    name: opensearch.service
    state: restarted
  listen: restart_opensearch_service
