---
- name: Add Docker repository
  ansible.builtin.get_url:
    url: "{{ minikube_docker_repo }}"
    dest: /etc/yum.repos.d/docker-ce.repo
    mode: '0644'
  when: minikube_vm_driver ["docker", "none"]
  become: true

- name: Update package cache
  ansible.builtin.package:
    update_cache: true
  become: true

- name: Ensure yum-utils and dnf-plugins-core are installed
  ansible.builtin.package:
    name: >
      {{
        [
          'yum-utils',
          'dnf-plugins-core'
        ]
        + ([ 'docker-ce','docker-ce-cli', 'containerd.io' ] if minikube_vm_driver in ['docker','none'] else [])
      }}
    state: present
  become: true
